/* REPOSITORIES */

.repos-wrapper {
  height: inherit;
  margin: 0;
  padding: 20px;
  list-style: none;
}


.repos-item {
  position: relative;
  margin-bottom: 30px;
  text-indent: 0;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),
    0 1px 3px 1px rgba(60,64,67,.16);
}
.repos-item > a {
  display: block;
  padding: 15px 25px 30px;
  text-decoration: none;
  color: var(--color-dark-primary);
}
.repos-item a:visited,
.repos-item a:visited .item-details {
  color: var(--color-grey-primary);
}
.repos-item a:visited .item-button {
  background-color: var(--color-grey-primary);
}
.repos-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}
.repos-item h3 > strong {
  font-weight: bold;
}
.repos-item p {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 15px;
  margin: 10px 0 15px;
}
.repos-item p:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: ' ';
  width: 100px;
  height: 1px;
  background-color: var(--color-grey-secondary);
}


.repos-item__details {
  display: flex;
  font-size: 12px;
  color: #333;
}
.repos-item__details > span {
  flex: 1;
}


.repos-item__button {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 7px 15px;
  border: 0;
  border-radius: 50px;
  font-size: 12px;
  background: var(--color-dark-tertiary);
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),
    0 1px 3px 1px rgba(60,64,67,.16);
}


/* ===============
 * MODAL COMPONENT
 * =============== */

/* .ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(225, 225, 225, .8);
  opacity: 0;
  transform: translateY(75%);
  transition: all 350ms ease-in-out;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0);
}
.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(75%);
}

.ReactModal__Content {
   position: absolute;
   top: 20px;
   left: 20px;
   right: 20px;
   bottom: 20px;
   border: 1px solid var(--color-grey-quaternary);
   background: #fff;
   overflow: auto;
   border-radius: 5px;
   outline: none;
   padding: 20px 20px 40px;
}
.ReactModal__Content * {
  max-width: 100%;
}
.ReactModal__Content a {
  word-break: break-word;
}
.ReactModal__Content ol,
.ReactModal__Content ul {
  padding-left: 18px;
}
.ReactModal__Content button {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  color: #fff;
  background: var(--color-dark-tertiary);
  border-radius: 50%;
  border: 0;
  outline: none;
}
.ReactModal__Content p {
  margin-bottom: 15px;
}
.ReactModal__Content pre {
  white-space: pre;
  overflow: auto;
  margin-bottom: 15px;
  padding: 7px 10px;
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}
.ReactModal__Content table {
  margin-bottom: 15px;
  font-size: 12px;
  border-collapse: collapse;
}
.ReactModal__Content table td,
.ReactModal__Content table th {
  border: 1px solid #dfe2e5;
  padding: 5px;
  text-align: left; 
}
.ReactModal__Content ul {
  padding-left: 20px;
}
.ReactModal__Content blockquote {
  margin: 0; 
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
} */